{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <h1>{{ 'product.list.title'|trans }}</h1>

    <div>
        <table class="table table-striped table-bordered table-sm">
            <thead>
            <tr class="active">
                <th width="10%"> {{ 'product.list.table.label'|trans }} </th>
                <th width="10%"> {{ 'product.list.table.quantity'|trans }} </th>
                <th width="10%"> {{ 'product.list.table.packaging'|trans }} </th>
                <th width="10%"> {{ 'product.list.table.date'|trans }} </th>
                <th width="10%" class="text-center"> Action </th>
            </tr>
            </thead>
            <tbody>
            {% for product in pager.products %}
                <tr>
                    <td>
                        {{ product.label }}
                    </td>
                    <td>
                        {{ product.quantity }}
                    </td>
                    <td>
                        {{ product.packaging.label }}
                    </td>
                    <td>
                        {% if product.date %}
                            {{ product.date|date('d/m/Y') }}
                        {% endif %}
                    </td>
                    <td>
                        action
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center"> Pas de type storage disponible </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% set pagination = pager.pagination %}
    {% include 'pagination.html.twig' %}

{% endblock %}