{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="row">
        {% set countTypeStorage  = 0 %}
        {% for typeStorage in pager.typeStorages %}
            {% set count = 0 %}
            {% for storage in pager.storages if storage.typeStorage.id == typeStorage.id %}
                {% set count = count + 1 %}
            {% endfor %}

            {% set classTypeStorage = 4 %}
            {% set classStorage = 12 %}
            {% if count == 2 %}
                {% set classTypeStorage = classTypeStorage * 2 %}
                {% set classStorage = 6 %}
            {% elseif count > 2 %}
                {% set classTypeStorage = classTypeStorage * 3 %}
                {% set classStorage = 4 %}
            {% endif %}
            {% set countTypeStorage  = countTypeStorage + classTypeStorage %}
            <div class="col-sm-{{ classTypeStorage }}">
                <div class="card {% if countTypeStorage > 12 %} mt-4 {% endif %}{{ 'border-' ~ typeStorage.class }} text-dark">
                    <div class="card-header {{ 'alert-' ~ typeStorage.class }} text-center pt-1 pb-0">
                        <div class="row">
                            <div class="col-sm-4 offset-sm-4">
                                <h4>
                                    {{ typeStorage.label }}
                                </h4>
                            </div>
                            <div class="col-sm-4 pr-0 mr-0 text-right align-middle text-black">
                                <a class="btn {{ 'btn-outline-' ~ typeStorage.class }} btn-sm" href="{{ path('kelp.storage.create',{'id':typeStorage.id }) }}">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        {% if count != 0 %}
                            <div class="row">
                                {% for storage in pager.storages if storage.typeStorage.id == typeStorage.id %}

                                    <div class="mt-3 col-sm-{{ classStorage }}">
                                        <div class="card text-center">
                                            <div class="card-body">
                                                <a href="{{ path('kelp.product.add',{'id':storage.id }) }}"
                                                   class="btn {{ 'btn-' ~ typeStorage.class }} btn-block btn-sm">Add a
                                                    Product</a>
                                            </div>
                                            <div class="card-footer text-muted mt-0 mb-0 pt-1 pb-1">
                                                <div class="row">
                                                    <div class="col-sm-8 d-flex align-items-center justify-content-center">
                                                        {{ storage.label|capitalize }}
                                                    </div>
                                                    <div class=" col-sm-4 mr-0 pr-0 d-flex justify-content-end">
                                                        <div class="btn-group">
                                                            <a class="btn {{ 'btn-outline-' ~ typeStorage.class }} btn-sm" href="{{ path('kelp.product.list',{'id':storage.id }) }}">
                                                                <i class="fas  fa-eye"></i>
                                                            </a>
                                                            <a class="btn {{ 'btn-outline-' ~ typeStorage.class }} btn-sm" href="{{ path('kelp.storage.edit',{'id':storage.id }) }}">
                                                                <i class="fas  fa-pencil-alt"></i>
                                                            </a>
                                                            <button type="button" class="btn-delete btn btn-sm {{ 'btn-outline-' ~ typeStorage.class }}"
                                                                    data-url="{{ path('kelp.storage.delete',{'id':storage.id }) }}">
                                                                <i class="far  fa-trash-alt"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="mt-3">
                                <h5 class="card-title">Add a new storage</h5>
                                <p class="card-text">Now you dont have storage add one for can add product in it</p>
                                <a href="{{ path('kelp.storage.create',{'id':typeStorage.id }) }}"
                                   class="btn {{ 'btn-' ~ typeStorage.class }} btn-block btn-sm">Add a Storage</i></a>
                            </div>

                        {% endif %}

                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

    {% set modal_parameters = {
        delete_title: 'Suppression d\'un storage',
        delete_question: 'Etes-vous sûr de vouloir supprimer ce storage?'
    } %}
    {% include'modal/delete.html.twig' with modal_parameters only %}
{% endblock %}
