{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}
<div class="row">
    {% for typeStorage in pager.typeStorages %}
    <div class="col-sm-4">
        <div class="card mt-4 {{ 'border-' ~ typeStorage.class }} text-dark">
            <div class="card-header {{ 'alert-' ~ typeStorage.class }} text-center">
                <h4>
                    {{ typeStorage.label }}
                </h4>
            </div>
            <div class="card-body">
                <h5 class="card-title">Add a new storage</h5>
                <p class="card-text">Now you have no storage add one for can add product in it</p>
                <a href="#" class="btn {{ 'btn-' ~ typeStorage.class }} btn-block btn-sm">Add a Storage</a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}


