{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-6">
            <h1 >{{ 'packaging.list.title'|trans }}</h1>
        </div>
    </div>

    {#{{ dump(pager.packagings) }}#}
    <div>
        <table class="table table-striped table-bordered table-sm">
            <thead>
            <tr class="active">
                <th width="80%"> {{ 'packaging.list.table.header.label'|trans }} </th>
                <th width="20%" class="text-center"> Action </th>
            </tr>
            </thead>
            <tbody>
            {% for packaging in pager.packagings %}
                <tr>
                    <td>
                        {{ packaging.label }}
                    </td>
                    <td>
                        action
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center"> {{ 'packaging.list.table.empty.message'|trans }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% set pagination = pager.pagination %}
    {% include 'pagination.html.twig' %}

{% endblock %}