{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ path('kelp.dashboard') }}">Kelp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if currentPath == path('kelp.dashboard') %}active{% endif %}">
                    <a class="nav-link" href="{{ path('kelp.dashboard') }}">
                        Dashboard<span class="sr-only">(current)</span>

                    </a>
                </li>
                <li class="nav-item {% if currentPath == path('kelp.storage.list') %}active{% endif %}">
                    <a class="nav-link" href="{{ path('kelp.storage.list') }}">Storage</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item dropdown {% if currentPath == path('kelp.packaging.list') or
                    currentPath == path('kelp.type_storage.list') %}active{% endif %}">
                    <a class="nav-link dropdown-toggle" href="#" id="dropDownAdmin" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Administration
                    </a>
                    <div class="dropdown-menu kelp-dropdown-menu-no-padding" aria-labelledby="dropDownAdmin">
                        <a class="dropdown-item" href="{{ path('kelp.type_storage.list') }}">Type Storage</a>
                        <a class="dropdown-item" href="{{ path('kelp.packaging.list') }}">Packaging</a>

                    </div>
                </li>
                {% endif %}
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownUser" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {{ app.user.username|capitalize }}
                        {% endif %}
                    </a>
                    <div class="dropdown-menu kelp-dropdown-menu-sm" aria-labelledby="dropdownUser">
                        <a class="dropdown-item" href="{{ path('kelp.logout') }}">Logout</a>
                    </div>
                </li>


            </ul>
        </div>
    </div>
</nav>
