{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>{{ 'user.list.title'|trans }}</h1>
        </div>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'user.list.header.fullname'|trans }}</th>
                <th>{{ 'user.list.header.email'|trans }}</th>
                <th>{{ 'user.list.header.roles'|trans }}</th>
                <th class="text-center">{{ 'user.list.header.status'|trans }}</th>
            </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.fullName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.roles|join(', ') }}</td>
                        <td class="text-center">{% if not user.active %}
                                <span class="badge badge-danger">{{ 'user.list.label.status_disabled'|trans }}</span>
                            {% else %}
                                <span class="badge badge-success">{{ 'user.list.label.status_enabled'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr><td colspan="4">{{ 'user.list.empty_message'|trans }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
